@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Chivo Mono', monospace;
}

body {
    background-image: url(https://static.vecteezy.com/ti/fotos-gratis/p1/11253605-roda-do-zodiaco-conceito-de-astrologia-gratis-foto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

h1 {
    text-align: center;
    margin-bottom: 1vh;
    font-size: 30px;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin-left: 20vh;
    margin-top: 20vh;
    text-align: center;
    font-size: 17px;
}

button {
    opacity: 75%;
    color: black;
    margin-top: 0.5vh;
    margin-bottom: 1vh;
    border: 1.5px black solid;
    border-radius: 5px;
}

input {
    background-color: white;
    color: black;
    border: black 3px solid;
    border-radius: 5px;
}

#frase {
    margin-bottom: 1vh;
}

input::hover {}